h1{
  padding: 10px;
  margin: 0px;
  color: white;
  background-color: #282c34;
  width: 100%;
  align-items: center;
  /* padding: 20px; */
  position: relative;
  left: 210px;
}

.App-header1{
  height: 80px;
}

#Anchor1{
  background-color: #282c34;
  color: #696969;
  position: relative;
  left: 12%;
  /* text-align: left;
  overflow:visible; */
}
#Anchor2{
  background-color: #282c34;
  color: #696969;
    position: relative;
      left: 12%;
  
}
#Anchor3{
  background-color: #282c34;
  color: #696969;
    position: relative;
      left: 12%;
}
#Anchor4{
  background-color: #282c34;
  color:#696969;
    position: relative;
      left: 12%;
}

.Search{


      /* position: relative; */
      left: 100px;
}


form{
  padding:25px;
  height: 20%;
  /* position: relative; */
  left: 100px;
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Noti {
text-align: center;
float: right;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #001529;
  /* min-height: 100px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 10px; */
    position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
}

.Search{
  background-color:#282c34;
  width:100%;
  align-items: center;
  padding: 20px;
  position: relative;
  left:210px;
  
}
.App-link {
  color: #f8f8f8;
}




.C{
    display: flex;
    width:100%;
    height: 100%;
    
}

.Nav{
  /* display: flex;
  justify-content: start;
  align-items: center; */
  /* padding: 0 16px; */
  /* height: 80px; */
  float: left;
  /* position: absolute; */
  /* left: 0; */
  width: 15%;
  background-color: black;
  position: fixed;
  
  
}

.Content {
  /* min-height: 500px; */
  /* height: 100%; */
  /* position: absolute; */
  /* right: 0; */
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
}