*{
    /* margin:0;
    padding: 0; */
    box-sizing: border-box;
    font-family: sans-serif;
}

.offical-Site{
    background-color: #282c34;
    color: white;
    
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    flex-wrap: flex;
    /* max-width: 1300px;
    width: 100%; */
    /* margin: auto; */
    padding: 15px;
    /* width: 80%; */
    background-color: #282c34;
    left: 115px;

        width: 100%;
        align-items: center;
        padding: 20px;
        position: relative;
        left: 210px;
    
}

.card-grid .card {
    /* flex: 0 0 calc(5% - 20px); */
    /* max-width: calc(25% - 20px); */
    /* width: 100%; */
    /* padding: 20px; */
    /* margin: 16px; */
    /* border-radius: 12px; */
    width: 400px;
    height: 350px;
    overflow: hidden;
    /* position: relative; */

}

.card-grid .card img {
    min-width: 400px;
    min-height: 250px;
    object-fit: cover;
}

.ant-card .ant-card-body{
    /* background-color:dimgray; */
    padding:14px;
}