.footer {
    background-color: #282c34;
    color: #fff;
    padding: 20px;
    margin:0;
    position: relative;
        left: 210px;
            width: 100%;
}

.footer p{
    background-color: #282c34;
    color: #fff;
    padding: 0;
    margin: 0;
}