.Nav{
background-color: #001529;
top: 100px;
width: 11.5%;
height: 100%;
/* position: fixed; */
    /* bottom: 0px;
    left: 0px; */
        z-index: 3;
}
@media only screen and (max-device-width: 375px) {
    .Nav{
        width: 10%;
        display: none;
    }
    li.nav-item {
        width: 90px;
        height: 50px;
        }
    .nav-item::marker{
        display: none;
    }
}

.nav-item{
    color: aliceblue;
    background-color: #001529;
    /* top: 100px; */
    width: 150px;
    height: 50px;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.nav-item svg{
    width: 50px;
}

.nav-item::marker {
    color: #001529;
}
       

li:hover {
    cursor: pointer;
    border: 1px solid #fff;
    /* box-shadow: 0px 0px 12px #fff;  */
}



.ant-btn-primary{
    text-align: center;
    float:left;
}
