.Nav{
background-color: #001529;
top: 100px;
width: 11.5%;
height: 100%;
/* position: fixed; */
    /* bottom: 0px;
    left: 0px; */
        z-index: 3;
}

.nav-item{
    color: aliceblue;
    background-color: #001529;
    top: 100px;
    width: 150px;
    height: 50px;
    flex-wrap: wrap;
}

.nav-item svg{
    width: 50px;
}

.nav-item::marker {
    color: #001529;
}
            
.ant-btn-primary{
    text-align: center;
    float:left;
}
